main h2{
    color: #fff;
    font-size: 35px;
    padding: 20px;
    padding-left: 60px;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}
.parent-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-shadow: 0px 1px 40px -19px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 40px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 40px -19px rgba(0,0,0,0.75);
width: 80%;
margin: 0 auto;
}
.parent-cont section{
    padding: 20px
}
form{
    display: flex;
    flex-flow: column nowrap;
}
form div{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}
form label{
    color: var(--primary-color);
    margin-bottom: 5px;
}
input,select{
    padding: 9px;
}
button{
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px;
}
button:hover{
    cursor: pointer;
}

.level-card{
    background-color: var(--secondary-color);
    padding: 15px;
    width: 90%;
    display: flex;
    opacity: 1;
    transform: translateY(0);
    align-items: center;
    color: #fff;
    flex-flow: column nowrap;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
    animation:fadeIn 1.5s ease-in 0.25s;
}
.level-card button{
    border: none;
    width: 50%;
    color: #fff;
    border-radius: 20px;
}
::backdrop,::-ms-backdrop {
    background-color: beige;
    border: 2px solid burlywood;
    border-radius: 5px;
  }
@keyframes fadeIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
      }
    
}

/*************************************
        DISCOVER PAGE
***************************************/
.discover-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 20px 60px;
    overflow: hidden;
}

.sidebar-card{
    display: flex;
    flex-flow: row nowrap;
    background-color: #52596b;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.sidebar-card img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}
.sidebar-card .body {
    margin-left: 9px;
}
.sidebar-card body p:first-child{
    font-size: 19px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.content .image{
    width: 100%;
    height: 350px;
    object-fit: contain;
    margin-bottom: 50px;
    
}



.content .image figure,.content .image img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    object-fit: contain;
    transition: all 1s ease-in-out;
}
.content .image figure:hover { 
    box-shadow: -8px 4px 125px -18px rgba(0,0,0,0.41);
    -webkit-box-shadow: -8px 4px 125px -18px rgba(0,0,0,0.41);
    -moz-box-shadow: -8px 4px 125px -18px rgba(0,0,0,0.41);
    transform: scale(1.05) translate(-1px,-3px);
-webkit-transform: scale(1.05) translate(-1px,-3px);
-moz-transform: scale(1.05) translate(-1px,-3px);
cursor: grab;
}
.content .image figure figcaption{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 19px;
    padding: 12px;
}
.content .image img{
    object-fit: cover;
}
.sidebar-message #message{
    color: var(--primary-color);
    font-size: 19px;
}
.sidebar-message{
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0px 1px 40px -19px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 40px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 40px -19px rgba(0,0,0,0.75);
}


@media only screen and (max-width: 911.98px) {
    main h2{
        padding-left: 10px;
    }
    figure{
        margin: 2px;
    }
    .parent-cont{
        grid-template-columns: 1fr;
    }
    .discover-container{
        grid-template-columns: 1fr;
    }
    .content{
        grid-template-columns: 1fr;
    }
    .content .image figure:hover { 
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        transform: none;
        -webkit-transform:none;
        -moz-transform:none;
        cursor: pointer;
    }
}